/* =================================
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto Slab', 'Playfair Display', 'PT Serif', serif;
	background-image: url('../img/coffee_background.jpg');        								/*##### Background image for the 320px width #####*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #fff;                                                                  /*##### Color #544337 #####*/
	margin: 0;
}

h1,
h2,
p {
	margin: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

form {
	max-width: 500px;
	margin: auto;
}

footer {
	padding-bottom: 144px;
	display: inline-block;
	width: 100%;
}

input,
textarea {
	border: none;
	width: 100%;
	font-family: 'Roboto Slab', serif;
	opacity: 0.6;
}

select {
	width: 100%;
	color: #7c7c7c;
	opacity: 0.6;
}

legend {
	padding: 28.5px 0;
	font-size: 1.25em;
	font-weight: bold;
}

textarea {
	height: 100px;
	border-radius: 3.25px;
	resize: none;
	padding: 12.5px 15px;
	font-size: 1em;
	outline: none;
}

#zip_code {
	width: 50%;
}

[placeholder="Required"]::placeholder {
	font-style: italic;
	text-align: right;
	font-family: 'Roboto Slab', 'Playfair Display', 'PT Serif', serif;
	font-size: .65em;
	color: #7c7c7c;
}

[placeholder="Your interests"]::placeholder {
	font-style: italic;
	text-align: center;
	font-family: 'Roboto Slab', 'Playfair Display', 'PT Serif', serif;
	font-size: 1em;
	color: #7c7c7c;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Header ---- */
.h1 {
	padding: 24px 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.375em;
	font-weight: normal;
	line-height: 22px;
	color: #383734;
}

.h2 {
	padding-top: 26.5px;
	padding-bottom: 17.5px;
	text-align: center;
	font-size: 1.25em;
	font-weight: bold;
}

.p {
	padding-bottom: 40px;
	text-align: center;
	font-weight: 100;
	color: #ededed;
}


/* ---- Form ---- */

.margin {
	margin: auto 14.8px;
}

.pad {
	padding-bottom: 37.5px;
}

.padding {
	padding-top: 20px;
	padding-bottom: 14px;
	display: block;
	font-size: 14px;
}

.padding2 {
	padding-bottom: 31px;
	display: block;
}

.padding3 {
	padding-top: 34px;
	padding-bottom: 19px;
}

.dark_font {
	color: #544337;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
select {
	padding: 12.5px 15px;
	border-radius: 3.25px;
	height: auto;
	font-size: 1em;
	display: block;
	outline: none;
}

input[type="checkbox"],                                                         /*##### CHECKBOX styling general#####*/
input[type="radio"] {
	opacity: 0;
	width: 0;
	margin: 0;
}

input[type="checkbox"]+label,
input[type="radio"]+label {
	margin-bottom: 19.5px;
	padding-left: 26px;
	display: inline-block;
}

label[for="html"],																															/*##### CHECKBOX #####*/
label[for="css"],
label[for="js"] {
	display: inline-block;
	padding-left: 26px;
	background: url("../img/sprite_15x15px.png") no-repeat;
	background-position: -37px -51px;
	line-height: 16px;
	cursor: pointer;
}

input:checked + label[for="html"],
input:checked + label[for="css"],
input:checked + label[for="js"] {
	background-position: -37px -78px;
}

label[for="html_format"],																												/*##### RADIO BUTTON #####*/
label[for="text_format"] {
	display: inline-block;
	padding-left: 26px;
	background: url("../img/sprite_15x15px.png") no-repeat;
	background-position: -37px -106px;
	line-height: 16px;
	cursor: pointer;
}

input:checked + label[for="html_format"],
input:checked + label[for="text_format"] {
	background-position: -37px -134px;
}

.sign_up {																																			/*##### SIGN UP BUTTON #####*/
	width: 100%;
	border: 0;
	display: inline-block;
	border-radius: 3.25px;
	background: #fe9a58;
	height: 60px;
	color: #fff;
	font-family: 'Roboto Slab';
	font-size: 1.15em;
	outline: none;
	cursor: pointer;
	margin: 29.5px 0 22px;
}

.sign_up:hover {
	background: #fc8c4f;
	transition: .9s;
}

input[type="button"]:active {
	position: relative;
	top: 1px;
}

/* ---- Footer ---- */

.foot_wrap {
	display: inline-block;
	width: 100%;
	background: #383734;
	opacity: .4;
}

.margin_f {
	margin-top: 13.5px;
	margin-bottom: 13.5px;
	text-align: center;
}

/* =================================
  Frosted Glass
==================================== */

/* ---- Header Glass Effect ---- */

.filter1 {
	background: inherit;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.filter1::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0; right: 0; bottom: 0; left: 0;
	background: inherit;
	box-shadow: inset 0 0 3000px rgba(255, 255, 255,.8);
	filter: blur(10px);
	margin: -20px;
}

/* ---- Contact Information Effect ---- */

.contact_info {
	background: inherit;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.contact_info::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0; right: 0; bottom: 0; left: 0;
	background: inherit;
	box-shadow: inset 0 0 3000px rgba(255, 255, 255,.4);
	filter: blur(10px);
	margin: -20px;
}

/* ---- Newsletter Effect ---- */

.filter2 {
	background: inherit;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.filter2::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0; right: 0; bottom: 0; left: 0;
	background: inherit;
	box-shadow: inset 0 0 3000px rgba(255, 255, 255,1.1);
	filter: blur(10px);
	margin: -20px;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 768px) {

}
